.pageBody {
  display: block;
  margin: 20px 25% 20px 3%;
  text-align: justify;
  font-size: 1.2em;

  a {
    text-decoration: none;
    font-weight: 800;
    color: blue;
  }

  a:hover {
    color: grey;
  }
}

.pageHeader {
  display: block;
  margin: 20px 3%;
  font-size: 1.4em;
}
